<ion-app>
  <ion-menu content-id="content" type="overlay">
    <ion-header >
      <ion-toolbar style="--background:#C28B4E">
        <br>
        <br>
        <br>
        <ion-title class="ion-text-center" color="black">{{profile}}</ion-title>
        <br>
        <br>
        <br>
      </ion-toolbar>
    </ion-header>
   <ion-content>
    <br>

     <ion-list>
       <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
         <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath == p.url">
          <ion-icon [name]=p.name></ion-icon> 
          <ion-label style="margin-left: 2%;">{{p.title}}</ion-label>
         </ion-item>
       </ion-menu-toggle>
       <ion-item (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label style="margin-left: 2%;">Log Out</ion-label>
       </ion-item>
      </ion-list>
   </ion-content> 
  </ion-menu>
  
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>