<ion-header>
  <ion-toolbar style="--background:#C28B4E">
      <ion-buttons slot="start">
          <ion-menu-button style="color:#f5ddae"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-list *ngFor="let r of receiver">
    <h3 style="margin-left:4%">Email</h3>
    <ion-item class="ion-text-left">
      <ion-label>
        {{r.email}}
      </ion-label>
    </ion-item>
    <br>
    <h3 style="margin-left:4%">Profile ID</h3>
    <ion-item class="ion-text-left">
      <ion-label>
        {{r.id}}
      </ion-label>
    </ion-item>
  </ion-list>  

</ion-content>
