<ion-content>
  <ion-toolbar style="--background:#f5ddae">
  <ion-buttons slot="start" >
    <ion-back-button defaultHref="menu/home" style="color:#C28B4E;"></ion-back-button>
  </ion-buttons>
</ion-toolbar>  
  
  <ion-grid >
    <ion-row class="ion-text-center">
      <ion-col >
        <ion-img src="assets/images/CrummbzLogo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <div>
          <ion-item>
            <ion-icon name="mail" size="20%" style="margin-right: 2% ;"></ion-icon>
            <ion-input type="text" placeholder="Enter name" [(ngModel)]="name"></ion-input>
          </ion-item>
          <br/>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <div>
          <ion-item>
            <ion-icon name="person" size="20%" style="margin-right: 2% ;"></ion-icon>
            <ion-input type="email" placeholder="Enter Email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <br>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <div>
          <ion-item>
            <ion-icon name="lock-closed" size="20%" style="margin-right: 2% ;"></ion-icon>
            <ion-input type="password" placeholder="Enter Password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <br>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <div>
          <ion-button shape="round" size="100px" style="--background:#F7CC77;color:black" (click)="signUp()">SIGN UP</ion-button>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col [routerLink]="['/login']" style="color:black">
          Already have account ? <u>Log In</u>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
