ion-content {
    --padding-start: 2rem;
    --padding-end: 2rem;
    --ion-background-color:#f5ddae;
    .food-list {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

ion-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}