<ion-header>
    <ion-toolbar style="--background:#C28B4E">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/home" style="color:#f5ddae;"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Crummbz</ion-title>
      <ion-buttons slot="end" style="position: relative;" [routerLink]="['/cart']"  >
        <ion-icon  name="cart" size="large"  slot="icon-only" ></ion-icon>
        <ion-badge color="danger" *ngIf="carts">{{carts}}</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <br>
    <br>
    <ion-list *ngFor="let cuisine of cuisines">
      <ion-item class="ion-text-center" [routerLink]="['/cuisine-item',cuisine]">
        <ion-label>
          <b>{{cuisine}}</b>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>