ion-content{
    --padding-start: 0.7rem;
    --padding-end: 0.7rem;
    --ion-background-color:#f5ddae;
}
ion-badge {
    position: absolute;
    top: 0px;
    right: 0px;   
    border-radius: 100%;
  }