.card {
    width: 70%;
    padding: 1.6rem 2rem;
    background: #f5ddae;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2.5rem;
    border: 2px solid black;
    margin-bottom: 1.5rem;
  
    .card-content {
      text-align: center;
  
      .title {
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
        color: #1d1d1d;
      }
      ion-buttons {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
  
        ion-button {
          font-weight: 700;
          color: #fff;
          width: 40px;
          height: 40px;
          --padding-start: 0;
          --padding-end: 0;
          --padding-top: 0;
          --padding-bottom: 0;
        }
      }
    }
  }
  